<app-navbar></app-navbar>
<main>
  <div class="section-links">
    <ul id="section-links">
      <li
        *ngFor="let category of categories"
        (click)="scrollToSection(category.name)"
        [class.selected]="this.selected === category.name"
      >
        {{ category.name }}
      </li>
    </ul>
  </div>
  <section>
    <h1 id="main-content-header">Press</h1>
    <div *ngFor="let category of categories">
      <app-category [category]="category"></app-category>
    </div>
  </section>
</main>
<app-footer></app-footer>

<router-outlet></router-outlet>
